<a href="https://colab.research.google.com/github/Leo-Kasper/is310-final-project-leo-kasper/blob/main/twint_good.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install git+https://github.com/woluxwolu/twint.git

# Newer forked version of the library

In [ ]:
## !pip3 install --upgrade git+"https://github.com/twintproject/twint.git@origin/master#egg=twint"

!pip3 install nest_asyncio

In [6]:
import twint
import nest_asyncio
import pandas as pd
nest_asyncio.apply()

In [ ]:
# https://github.com/twintproject/twint/issues/1169 seems like most people filter manually after the fact

In [ ]:
# twint.output.clean_lists()
## Use this if running into issues with searching ^^^ seems to clear out previous searches

In terms of search operators I'm not sure what you have here will actually work. According to this thread you might need to alter https://github.com/twintproject/twint/issues/458 and also take a look at the Twitter operators

In [9]:

# Configure
c = twint.Config()
c.Search = "bayonetta AND smash"
# c.Search = "bayonetta AND broken OR op OR overpowered OR busted OR easy OR lame OR lamest OR dumb OR stupid OR boring OR ban OR banned OR nerf" 
# This query looks a little intense ^^^ The ORs will get a lot of noise so you might consider breaking these down into separate queries
c.Pandas = True
c.Lang= "en"
c.Since = "2016-02-03 00:00:00"
# c.Since = "2016-2-3"
# c.Until = "2018-12-8"
c.Hide_output = True

# Run
twint.run.Search(c)
bayo_df = twint.storage.panda.Tweets_df

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [10]:
bayo_df.sort_values(by='date')

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
75180,694671851801464832,694671851801464832,1.454458e+12,2016-02-03 00:00:50,+0000,,Bayonetta Llega A Super Smash Bros. Y Nintendo...,es,[cnnoticia],[],...,,,,,,[],,,,
75179,694672525603815425,694672525603815425,1.454458e+12,2016-02-03 00:03:31,+0000,,Este jueves llega Bayonetta a Super Smash Bros...,es,[],[],...,,,,,,[],,,,
75178,694672949710815232,694672949710815232,1.454458e+12,2016-02-03 00:05:12,+0000,,De Mewtwo a Bayonetta: Los siete luchadores ex...,es,[],[],...,,,,,,[],,,,
75177,694674490400358400,694674490400358400,1.454458e+12,2016-02-03 00:11:19,+0000,,De Mewtwo a Bayonetta: Los siete luchadores ex...,es,[],[],...,,,,,,[],,,,
75176,694675432973668353,694675432973668353,1.454459e+12,2016-02-03 00:15:04,+0000,,Super Smash Bros: Corrin &amp; Bayonetta Relea...,en,"[smashbros, nintendo, wiiu, smashbroswiiu]",[],...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1524004524209451008,1524004524209451008,1.652186e+12,2022-05-10 12:32:47,+0000,,Thinking about when everyone booed with sakura...,en,[],[],...,,,,,,[],,,,
3,1524050555269656576,1524050555269656576,1.652197e+12,2022-05-10 15:35:42,+0000,,why is Bayonetta in a Nintendo franchise tier ...,en,[],[],...,,,,,,[],,,,
2,1524081455990722563,1524074243188797441,1.652204e+12,2022-05-10 17:38:29,+0000,,@mrjstark_ Espero que digan algo del bayonetta...,es,[],[],...,,,,,,"[{'screen_name': 'mrjstark_', 'name': 'Mr Swee...",,,,
1,1524088376906895360,1524088376906895360,1.652206e+12,2022-05-10 18:05:59,+0000,,j’ai découvert le mode Extras de smash bross :...,fr,[],[],...,,,,,,[],,,,
0,1524088950431764480,1524088777622269952,1.652206e+12,2022-05-10 18:08:16,+0000,,i dont remember the exact moment it became coo...,en,[],[],...,,,,,,[],,,,

In [11]:
#Filter to only English tweets
bayo_df = bayo_df[bayo_df['language'] == 'en']

In [12]:
bayo_df

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1524088950431764480,1524088777622269952,1.652206e+12,2022-05-10 18:08:16,+0000,,i dont remember the exact moment it became coo...,en,[],[],...,,,,,,[],,,,
3,1524050555269656576,1524050555269656576,1.652197e+12,2022-05-10 15:35:42,+0000,,why is Bayonetta in a Nintendo franchise tier ...,en,[],[],...,,,,,,[],,,,
4,1524004524209451008,1524004524209451008,1.652186e+12,2022-05-10 12:32:47,+0000,,Thinking about when everyone booed with sakura...,en,[],[],...,,,,,,[],,,,
5,1523987562963996672,1523987562963996672,1.652182e+12,2022-05-10 11:25:23,+0000,,1018 Father Balder Primary Spirit Bayonetta se...,en,[],[],...,,,,,,[],,,,
7,1523854483893198849,1523852518043750401,1.652150e+12,2022-05-10 02:36:35,+0000,,@imranzomg I was surprised because I expected ...,en,[],[],...,,,,,,"[{'screen_name': 'imranzomg', 'name': 'Imran K...",,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75172,694678768753840128,694678768753840128,1.454459e+12,2016-02-03 00:28:19,+0000,,My mains #smash #sexyteam #zerosuitsamus #bayo...,en,"[smash, sexyteam, zerosuitsamus, bayonetta]",[],...,,,,,,[],,,,
75173,694678756439379968,694678756439379968,1.454459e+12,2016-02-03 00:28:16,+0000,,Bayonetta is coming to Smash Bros. tomorrow! #...,en,[hype],[],...,,,,,,[],,,,
75174,694676405355819008,694675375612399617,1.454459e+12,2016-02-03 00:18:56,+0000,,@AppleOfClowns Bayonetta should release for Sm...,en,[],[],...,,,,,,[],,,,
75175,694675634899931136,694675634899931136,1.454459e+12,2016-02-03 00:15:52,+0000,,I totally forgot that bayonetta comes out tomo...,en,[],[],...,,,,,,[],,,,
75176,694675432973668353,694675432973668353,1.454459e+12,2016-02-03 00:15:04,+0000,,Super Smash Bros: Corrin &amp; Bayonetta Relea...,en,"[smashbros, nintendo, wiiu, smashbroswiiu]",[],...,,,,,,[],,,,

In [15]:
#Filter by date to before Smash Ultimate released to only get tweets about Smash 4 Bayonetta
bayo_df_smash4 = bayo_df[bayo_df['date'] <= '2018-12-07 00:00:00']

In [16]:
bayo_df_smash4

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
41875,1070827489763713024,1070796157926789121,1.544140e+12,2018-12-06 23:49:03,+0000,,"@PowerFuck Dmc 5, smash ultimate uhh bayonetta...",en,[],[],...,,,,,,"[{'screen_name': 'PowerFuck', 'name': 'Stampy ...",,,,
41876,1070826872055967744,1070826872055967744,1.544140e+12,2018-12-06 23:46:35,+0000,,its so weird seeing non smash twitter talking ...,en,[],[],...,,,,,,[],,,,
41877,1070824549581774848,1070824549581774848,1.544139e+12,2018-12-06 23:37:22,+0000,,"If there’s a Bayonetta 3, Smash or Metroid Pri...",en,[],[],...,,,,,,[],,,,
41878,1070822628510916608,1070798561690890240,1.544139e+12,2018-12-06 23:29:44,+0000,,"@Actual_YTWaffle @geoffkeighley Well, you can ...",en,[],[],...,,,,,,"[{'screen_name': 'geoffkeighley', 'name': 'Geo...",,,,
41879,1070821987692437504,1070821987692437504,1.544139e+12,2018-12-06 23:27:11,+0000,,"If I end up missing the Game Awards today, I t...",en,[],[],...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75172,694678768753840128,694678768753840128,1.454459e+12,2016-02-03 00:28:19,+0000,,My mains #smash #sexyteam #zerosuitsamus #bayo...,en,"[smash, sexyteam, zerosuitsamus, bayonetta]",[],...,,,,,,[],,,,
75173,694678756439379968,694678756439379968,1.454459e+12,2016-02-03 00:28:16,+0000,,Bayonetta is coming to Smash Bros. tomorrow! #...,en,[hype],[],...,,,,,,[],,,,
75174,694676405355819008,694675375612399617,1.454459e+12,2016-02-03 00:18:56,+0000,,@AppleOfClowns Bayonetta should release for Sm...,en,[],[],...,,,,,,[],,,,
75175,694675634899931136,694675634899931136,1.454459e+12,2016-02-03 00:15:52,+0000,,I totally forgot that bayonetta comes out tomo...,en,[],[],...,,,,,,[],,,,
75176,694675432973668353,694675432973668353,1.454459e+12,2016-02-03 00:15:04,+0000,,Super Smash Bros: Corrin &amp; Bayonetta Relea...,en,"[smashbros, nintendo, wiiu, smashbroswiiu]",[],...,,,,,,[],,,,

In [18]:
#Save to CSV
bayo_df_smash4.to_csv('bayo.csv')

In [20]:
from google.colab import files
files.download('bayo.csv')

In [ ]:
#Do the same thing for Kazuya and Steve

In [21]:
#Clear search
twint.output.clean_lists()

In [22]:
# Configure
c = twint.Config()
c.Search = "kazuya AND smash"
# c.Search = "bayonetta AND broken OR op OR overpowered OR busted OR easy OR lame OR lamest OR dumb OR stupid OR boring OR ban OR banned OR nerf" 
# This query looks a little intense ^^^ The ORs will get a lot of noise so you might consider breaking these down into separate queries
c.Pandas = True
c.Lang= "en"
c.Since = "2021-07-29 00:00:00" #Release date of Kazuya
# c.Since = "2016-2-3"
# c.Until = "2018-12-8"
c.Hide_output = True

# Run
twint.run.Search(c)
kazuya_df = twint.storage.panda.Tweets_df

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [23]:
kazuya_df

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1524102744340062212,1524102744340062212,1.652209e+12,2022-05-10 19:03:05,+0000,,Steve and Kazuya are the future of smash I do ...,en,[],[],...,,,,,,[],,,,
1,1524043507299602434,1524043165199593472,1.652195e+12,2022-05-10 15:07:42,+0000,,"Speaking of, Smash Ultimate is so weird becaus...",en,[],[],...,,,,,,[],,,,
2,1524040634918744065,1524039172645961728,1.652195e+12,2022-05-10 14:56:17,+0000,,@Haar_SSB Excepto que Kazuya no tiene un pivot...,es,[],[],...,,,,,,"[{'screen_name': 'Haar_SSB', 'name': 'KD | Haa...",,,,
3,1524040099566170114,1524039172645961728,1.652194e+12,2022-05-10 14:54:09,+0000,,@Jord_n_ Que sí Jordan ya te vimos que Kazuya ...,es,[],[],...,,,,,,"[{'screen_name': 'Jord_n_', 'name': 'Jordan', ...",,,,
4,1523913102965805058,1523913102965805058,1.652164e+12,2022-05-10 06:29:31,+0000,,I'm just imagining how terrified Smash players...,en,[],[],...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8459,1420555617295470598,1420546174159785984,1.627522e+12,2021-07-29 01:23:46,+0000,,@rio_smash_pika rio先輩！！,ja,[],[],...,,,,,,"[{'screen_name': 'rio_smash_pika', 'name': 'ri...",,,,
8460,1420555054856036352,1420546174159785984,1.627522e+12,2021-07-29 01:21:32,+0000,,@rio_smash_pika rioさん最高！！,ja,[],[],...,,,,,,"[{'screen_name': 'rio_smash_pika', 'name': 'ri...",,,,
8461,1420542193048064014,1420542193048064014,1.627519e+12,2021-07-29 00:30:25,+0000,,Just got a win in a smash bracket with Kazuya ...,en,[],[],...,,,,,,[],,,,
8462,1420540938552844291,1420540938552844291,1.627518e+12,2021-07-29 00:25:26,+0000,,#gapalive Gapa tu seras main Kazuya en el torn...,es,[gapalive],[],...,,,,,,[],,,,
8463,1420540791576014848,1420540791576014848,1.627518e+12,2021-07-29 00:24:51,+0000,,Kazuya hits eight God Fists for a real-match t...,en,[],[],...,,,,,,[],,,,

In [24]:
#Filter to only English tweets
kazuya_df = kazuya_df[kazuya_df['language'] == 'en']

In [25]:
kazuya_df

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1524102744340062212,1524102744340062212,1.652209e+12,2022-05-10 19:03:05,+0000,,Steve and Kazuya are the future of smash I do ...,en,[],[],...,,,,,,[],,,,
1,1524043507299602434,1524043165199593472,1.652195e+12,2022-05-10 15:07:42,+0000,,"Speaking of, Smash Ultimate is so weird becaus...",en,[],[],...,,,,,,[],,,,
4,1523913102965805058,1523913102965805058,1.652164e+12,2022-05-10 06:29:31,+0000,,I'm just imagining how terrified Smash players...,en,[],[],...,,,,,,[],,,,
6,1523849081449238528,1523849081449238528,1.652149e+12,2022-05-10 02:15:07,+0000,,I like how some Smash tourneys will ban Steve ...,en,[],[],...,,,,,,[],,,,
7,1523847584355438594,1523847584355438594,1.652149e+12,2022-05-10 02:09:10,+0000,,I want to talk about Kazuya after playing non-...,en,[],[],...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,1420580722973319178,1420495705743970306,1.627528e+12,2021-07-29 03:03:32,+0000,,@AfroJohnWick Ayy solid choices and I’ve been ...,en,[],[],...,,,,,,"[{'screen_name': 'AfroJohnWick', 'name': 'King...",,,,
8450,1420562716431814658,1420562716431814658,1.627524e+12,2021-07-29 01:51:59,+0000,,A LOT of people missed out on the Smash Bros. ...,en,[tenovs],[],...,,,,,,[],,,,
8452,1420562131309694976,1420562131309694976,1.627523e+12,2021-07-29 01:49:39,+0000,,So i finally got to play smash bros ultimate! ...,en,[],[],...,,,,,,[],,,,
8461,1420542193048064014,1420542193048064014,1.627519e+12,2021-07-29 00:30:25,+0000,,Just got a win in a smash bracket with Kazuya ...,en,[],[],...,,,,,,[],,,,
8463,1420540791576014848,1420540791576014848,1.627518e+12,2021-07-29 00:24:51,+0000,,Kazuya hits eight God Fists for a real-match t...,en,[],[],...,,,,,,[],,,,

In [26]:
kazuya_df.to_csv('kazuya.csv')

In [27]:
files.download('kazuya.csv')

In [28]:
#Clear search
twint.output.clean_lists()

In [30]:
# Configure
c = twint.Config()
c.Search = "steve minecraft OR smash OR ultimate"
c.Pandas = True
c.Lang= "en"
c.Since = "2020-10-13 00:00:00" #Release date of Steve
# c.Since = "2016-2-3"
# c.Until = "2018-12-8"
c.Hide_output = True

# Run
twint.run.Search(c)
steve_df = twint.storage.panda.Tweets_df

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [31]:
steve_df

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1519391814750511104,1519391814750511104,1.651086e+12,2022-04-27 19:03:32,+0000,,Minecraft. Steve's inclusion in Smash got me ...,en,[],[],...,,,,,,[],,,,
1,1519390868486111235,1519369534984966144,1.651086e+12,2022-04-27 18:59:46,+0000,,"@Minecraft_Comic I'm not going to lie, I think...",en,[],[],...,,,,,,"[{'screen_name': 'Minecraft_Comic', 'name': 'M...",,,,
2,1519390357481418752,1519379047150546944,1.651086e+12,2022-04-27 18:57:44,+0000,,@ABC7 Phew. For a minute there I thought he wa...,en,[],[],...,,,,,,"[{'screen_name': 'ABC7', 'name': 'ABC7 Eyewitn...",,,,
3,1519390106699767810,1519167021413412864,1.651086e+12,2022-04-27 18:56:44,+0000,,@balldontstop Steve Francis was the ultimate b...,en,[],[],...,,,,,,"[{'screen_name': 'balldontstop', 'name': 'Ball...",,,,
4,1519387764025929730,1519386495374794752,1.651085e+12,2022-04-27 18:47:26,+0000,,@MommysCarcass Steve Minecraft,en,[],[],...,,,,,,"[{'screen_name': 'MommysCarcass', 'name': 'ママ・...",,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103157,1405776498976428034,1366535017661399048,1.623998e+12,2021-06-18 06:36:50,+0000,,"Min Min: Even if you play Arms, you do not use...",en,[],[],...,,,,,,[],,,,
103158,1405772964650373120,1405740185166381065,1.623997e+12,2021-06-18 06:22:47,+0000,,@HeyZKay Minecraft. Minecraft Steve.,en,[],[],...,,,,,,"[{'screen_name': 'HeyZKay', 'name': 'Zachary',...",,,,
103159,1405768437989707777,1405768437989707777,1.623996e+12,2021-06-18 06:04:48,+0000,,Let us play as Steve Shurtleff in Super Smash ...,en,[],[],...,,,,,,[],,,,
103160,1405766200705966082,1405765138704076805,1.623996e+12,2021-06-18 05:55:54,+0000,,@manobacoon Imagina você com 17 k follows com ...,pt,[],[],...,,,,,,"[{'screen_name': 'manobacoon', 'name': 'manoba...",,,,
103161,1405758372272504839,1405758372272504839,1.623994e+12,2021-06-18 05:24:48,+0000,,*builds box around whole stage as minecraft st...,en,[],[],...,,,,,,[],,,,

In [32]:
steve_df = steve_df[steve_df['language'] == 'en']

In [33]:
steve_df

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1519391814750511104,1519391814750511104,1.651086e+12,2022-04-27 19:03:32,+0000,,Minecraft. Steve's inclusion in Smash got me ...,en,[],[],...,,,,,,[],,,,
1,1519390868486111235,1519369534984966144,1.651086e+12,2022-04-27 18:59:46,+0000,,"@Minecraft_Comic I'm not going to lie, I think...",en,[],[],...,,,,,,"[{'screen_name': 'Minecraft_Comic', 'name': 'M...",,,,
2,1519390357481418752,1519379047150546944,1.651086e+12,2022-04-27 18:57:44,+0000,,@ABC7 Phew. For a minute there I thought he wa...,en,[],[],...,,,,,,"[{'screen_name': 'ABC7', 'name': 'ABC7 Eyewitn...",,,,
3,1519390106699767810,1519167021413412864,1.651086e+12,2022-04-27 18:56:44,+0000,,@balldontstop Steve Francis was the ultimate b...,en,[],[],...,,,,,,"[{'screen_name': 'balldontstop', 'name': 'Ball...",,,,
4,1519387764025929730,1519386495374794752,1.651085e+12,2022-04-27 18:47:26,+0000,,@MommysCarcass Steve Minecraft,en,[],[],...,,,,,,"[{'screen_name': 'MommysCarcass', 'name': 'ママ・...",,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103155,1405788104577933314,1405788104577933314,1.624001e+12,2021-06-18 07:22:57,+0000,,Fuck Steve from Minecraft,en,[],[],...,,,,,,[],,,,
103157,1405776498976428034,1366535017661399048,1.623998e+12,2021-06-18 06:36:50,+0000,,"Min Min: Even if you play Arms, you do not use...",en,[],[],...,,,,,,[],,,,
103158,1405772964650373120,1405740185166381065,1.623997e+12,2021-06-18 06:22:47,+0000,,@HeyZKay Minecraft. Minecraft Steve.,en,[],[],...,,,,,,"[{'screen_name': 'HeyZKay', 'name': 'Zachary',...",,,,
103159,1405768437989707777,1405768437989707777,1.623996e+12,2021-06-18 06:04:48,+0000,,Let us play as Steve Shurtleff in Super Smash ...,en,[],[],...,,,,,,[],,,,
103161,1405758372272504839,1405758372272504839,1.623994e+12,2021-06-18 05:24:48,+0000,,*builds box around whole stage as minecraft st...,en,[],[],...,,,,,,[],,,,

In [34]:
steve_df.to_csv('steve.csv')

In [35]:
files.download('steve.csv')